/* no margin or padding in body tags, but adjust p tag margins inside body */
/* utilizing nested declarations */

$p-margin: 10;

body {
  margin: 0;
  padding: 0;
  p {
    margin: $p-margin;
  }
}
